@media screen and (width: 640px) {
    .container_body {
      background-color: rgb(255, 0, 21);
      font-family: 'Pacifico', cursive;
      font-size: 16px;
      font-weight: 200px;
      line-height: 20px;
      color: rgb(196, 40, 53); 
    }
  }