@media screen and (width: 980px) {
    .container_body {
      background-color: rgb(255, 113, 125);
      font-family: 'Pacifico', cursive;
      font-size: 16px;
      font-weight: 200px;
      line-height: 20px;
      color: rgb(172, 0, 14); 
    }
  }